body {
    background-color: #FFDD4A;
    color: #362C28;
    overflow-x: hidden;
}

#nav-bar {
    background-color: #FF8C42;
    display: flex;
    position: absolute;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    padding-left: 2%;
}
.nav-list {
    list-style-type: none;
    display: flex;
    gap: 100px;
    margin-top: 1.5%;
}

.nav-item:hover {
    color:#479F33;
}
.nav-item {
    color:#362C28;
    font-size: 30px;
}
#contact {
    background-color: #362C28;
    display: flexbox;
    height: auto;
    width: 100%;
    bottom: 0px;
    left: 0px;
    margin-top: 2%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    margin-left: 0px;
    padding-left: 2%;
    overflow-y: hidden;
}
.contact-list {
    list-style-type: none;
    display: flex;
    gap: 200px;
    margin-top: 1.5%;
}

.contact-link:hover {
    color:#479F33;
}
.contact-link {
    color:#ffffff;
}
.contact-item {
    color:#ffea8f;
    font-size: 30px;
}

#contact-head {
    color:#ffea8f;
    font-size: 40px;
}

#update-log {
    margin-top: 2%;
}
#update {
    height: 500px;
    width: 400px;
}
table,tr {
    border: 1px solid black;
}
th {
    font-size: 40px;
}
td {
    vertical-align: top;
    text-align: left;
    padding-left: 2%;
}

footer {
    padding-left: 0%;
    margin-left: 0%;
}
#abouth {
    margin-top: 150px;
    margin-left: 5%;
}
p {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 22px;
}
#SteamBanana {
    height: 80%;
    width: 80%;
    margin-left: 7%;
}
#banner {
    margin-top: 8%;
    margin-left: -0.5%;
    border: solid 5px black;
    background-color:#ffea8f;
    width: 100.5%;
    overflow: hidden;
    height: 100px;
    white-space: nowrap;
}

#banner-text {
    display: inline-block;
    position:absolute;
    font-size: 24px;
    font-weight: bold;
    animation: moveText 6s linear infinite;
}

@keyframes moveText {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
}